.aboutSectionHeader {
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 0rem;
    /* border: 1px solid pink; */
    /* display: flex; */
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: white;
    background-color: #2d3549;
}

.sectionTitle {
    color: white;
    font-size: 4em;

}

.aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;

   
}

.cardContainer {
    display: flex;
    align-items: column;
    justify-content: center;
    width: 100em;
    height: 40em;
}

.aboutUsFoundersSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    background: #202734;

}

/* Everything After this is divider css */

.custom-shape-divider-bottom-1684440846 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1684440846 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1684440846 .shape-fill {
    fill: #191e28;
}

.custom-shape-divider-bottom-1684594327 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684594327 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1684594327 .shape-fill {
    fill: #202734;
}