.aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: gainsboro;
}

.cardContainer {
    display: flex;
    align-items: column;
    justify-content: center;
    width: 100em;
    height: 40em;
}