

.box2{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #2d3549;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.small-line-thingy{
    height: 0.5em;
    width: 6em;
    border-radius: 0.1em;
    background: linear-gradient( 100deg, #ff77ff, #0050c8);
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Titillium+Web:wght@200;300&display=swap');
.box2-left{
    flex : 1 1 auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    align-items: center;
    font-style: bold;
    /* font-family: 'Titillium Web', sans-serif;; */
    font-family: 'Montserrat', sans-serif;
    
    margin-right: 15em;
    margin-left: 5em;
    overflow: visible;
    font-size: 1.1em;
    color: black;
}

.box2-right{
    flex : 1 1 auto;
    max-width: 75%;
    align-items: center;
    overflow: visible;
    justify-content: top;
}

.placeholder-image{
    max-width: 50%;
    max-height: 50%;
    padding: 20rem;
}
.box3{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.left-img {
    padding-left: 9em;
    max-width: 40em;  
    overflow: visible; 
    /* object-fit: fill; */
}

.header-right {
    text-align: center;
    flex : 2 1 auto;
    width: max-content;
    max-width: 75%;
    align-items: center;
    justify-content: center;
   padding-left: 0em;
    margin-bottom: 5%;
    padding-bottom: 5rem;
}

.header-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: titillium web, sans-serif;
    text-align: left;
    padding-left: 9em;
    padding-right: 5em;
    overflow: visible;
    max-width: 100%;
    object-fit: fill;
}