.box1-left {
    padding: 10%;
}


.left-img {
    max-width: 100%;
    overflow: visible;
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@600&family=Titillium+Web:wght@200;300&display=swap');
.header-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 2 1 auto;
    max-width: 75%;
    align-items: left;
    justify-content: center;
}

.header-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: titillium web, sans-serif;
    text-align: left;
    overflow: visible;
    max-width: 100%;
    object-fit: fill;
}

.eclairButton-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

.box2 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    gap: 2rem;
    
    min-height: 25em;
    background-color: #1F2532;
    /* padding-top: 10rem; */
   
    color: #2d3549;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box2-override {
    min-height: 5em;
    height: fit-content;
    background-color: #191e28;
}

.box2-override2 {
    background-color: #202734;
}
.box2-override3 {
    background-color: #272f3f;
}



.box1_5-textLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10%;
    font-family: 'Poppins', 'Titilium Web';
    font-style: normal;
    font-size: 2rem;
    color: white;
}



.infoImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em;
    position: relative;
    box-shadow: 10px 10px 5px #191e28 ;
}

.box1_5-textRight {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: gray;
}

#boldText {
    text-align: left;
}

#informationText {
    min-height: 5em;
}

#visual path{
    animation: blobbin 5s infinite alternate;
    /* fill:  */
    
    fill: linear-gradient(to right, #20c997, #ff77ff)
}

.animatedBlob {
    display: flex;
}

.box2-override4 {
    padding-top: 10em;
    padding-bottom: 10em;
}

.vectorText {
    /* fill: linear-gradient(to bottom, red, blue); */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', 'Titilium Web';
    font-style: normal;
    font-size: 5rem;
}

@keyframes blobbin {
    0% {
        d: path("M140.5 -95C189.2 -50.9 240.9 7.9 239 69.9C237.1 131.9 181.7 197 118.2 216.5C54.7 236.1 -16.9 209.9 -56.2 170.4C-95.6 130.9 -102.6 78 -124.2 18.3C-145.8 -41.3 -182 -107.6 -163.7 -144.8C-145.4 -182 -72.7 -190 -13.4 -179.3C45.9 -168.6 91.7 -139.2 140.5 -95");
    }
    /* 50% {
        d: path("M174.6 -169.5C192.9 -116.4 151.3 -45.7 121.2 4.1C91.1 53.9 72.4 82.8 40.7 106.6C9 130.3 -35.9 149 -67.3 135.5C-98.6 122 -116.6 76.3 -122 33.3C-127.5 -9.7 -120.4 -50 -98 -104.2C-75.6 -158.3 -37.8 -226.1 20.2 -242.2C78.2 -258.3 156.4 -222.7 174.6 -169.5");
    } */
    50% {
        d : path("M179 -138.3C201.5 -114.4 168.5 -41.7 144.2 20.1C119.8 81.9 104.2 132.8 71.8 148.1C39.3 163.4 -9.8 143 -65.7 121.7C-121.6 100.5 -184.1 78.4 -198.8 38.4C-213.4 -1.5 -180.2 -59.4 -139.1 -87.5C-98 -115.6 -49 -114.1 14.6 -125.7C78.2 -137.4 156.4 -162.2 179 -138.3");
    }
    100% {
        d: path("M129.4 -113.5C165 -58.6 189.2 -4.9 178.8 40.8C168.4 86.5 123.2 124.4 79.5 133.1C35.8 141.9 -6.5 121.6 -64.9 105C-123.2 88.3 -197.6 75.2 -228.6 27.1C-259.5 -21 -247 -104 -201.7 -161.2C-156.4 -218.4 -78.2 -249.7 -15.6 -237.2C46.9 -224.7 93.8 -168.5 129.4 -113.5")
    }
}

@media screen and (max-width: 1000px) {

    .header-right {
        align-items: left;
        justify-content: center;
    }

    .box2 {
        grid-template-columns: 1fr;
        /* a single column with a width of 1 fraction of the available space */
        height: 55em;
        gap: 0em;
        align-items: center;
        padding-top: 10em;
        padding-bottom: 10em;
        justify-items: center;
        min-height: fit-content;
        overflow: hidden;
    }

    .infoImage {
        padding: 0em;
    }

    .box1_5-textRight {
        height: fit-content;
        padding: 0%;
    }

    .box2-override {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .box2-right {
        height: 30em;
        padding-left: 10em;
    }

    .box2-encloser {
        max-height: fit-content;
    }

    #informationText {
        min-height: fit-content;
        padding-bottom: 5em;
    }

    #visual{
        transform: translate(-100px, 0px);
    }

    
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Titillium+Web:wght@200;300&display=swap');

.box2-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 100%;
    justify-content: left;
    padding-left: 10%;
    padding-right: 10%;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    overflow: visible;
    font-size: 1.1em;
    color: white;
    border-radius: 1em;
}

.box2-right {
    flex: 1 1 auto;
    max-width: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    padding-right: 5em;

}

.placeholder-image {
    max-width: 50%;
    max-height: 50%;
    padding: 20rem;
}

.box3 {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}



/** everything below is divider css */

/* Second and third section divider */
.custom-shape-divider-top-1681028846 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681028846 svg {
    position: relative;
    display: block;
    width: calc(176% + 1.3px);
    height: 87px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1681028846 .shape-fill {
    fill: #272f3f;
}

/* First and second section divider */


.custom-shape-divider-bottom-1684597940 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1684597940 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1684597940 .shape-fill {
    fill: #191E28;
}