.fancybutton {
    /*background-image: linear-gradient(to right, #ff77ff 0%, #0050c8 51%, #0050c8 100%);*/
    --magic-rainbow-color-1: hsl(275, 100%, 73%);
    --magic-rainbow-color-2: hsl(216, 100%, 39%);


    background: linear-gradient(to right, var(--magic-rainbow-color-1), var(--magic-rainbow-color-2));
    
    padding: 1rem;
    width: 35%;
    color: white;
    font-size: 2em;
    transition-duration: 1s;
    font-family: sans-serif;
    text-align: center;
}

.fancybutton:hover {
    /* background-image: linear-gradient(to right, #ff77ff 0%, #0050c8 80%, #0050c8 100%); */
    --magic-rainbow-color-1: hsl(275, 100%, 73%);
    --magic-rainbow-color-2: hsl(216, 100%, 39%);
    /* background: linear-gradient(to right, var(--magic-rainbow-color-1), var(--magic-rainbow-color-1)); */
    
    background: linear-gradient(to right, var(--magic-rainbow-color-1), var(--magic-rainbow-color-2));
    
    padding: 1rem;
    width: 35%;
    border-color: white;
    transition-duration: 1s;
    color: white;
    font-size: 2em;
    border-radius: 1rem;
    font-family: sans-serif;
    text-align: center;
}