.social-icons{
    margin-top: 0.5rem;
    max-width: 2rem;
    max-height: 2rem;
    padding: 1rem;
}

.social-icon{
    margin-top: 1.5rem;
    max-width: 2rem;
    max-height: 2rem;
    padding: 1rem;
}