.border {
    background-color: #c675ff4d;
    border-radius: 1em;
    backdrop-filter: blur(10px);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    border-radius: 1em;
    border: 0;
    width: 100%;
    box-shadow: 2px 5px 10px black;
    background-color: #ffffff;;
}

.boldText {
    color: white;
    font-size: 3em;
    padding: 5em;
    text-align: center;
}

.formText {
    
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.formTextHidden {
    visibility: hidden;
}
.formContactUs {
    width: 75%;;
}
.formContactUsHidden {
    visibility: hidden;
    scale: 0.0;
    height: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@600&family=Titillium+Web:wght@200;300&display=swap');

.contactCapHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;
}