.box {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projectCards {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-auto-rows: 200px;
    gap: 2rem;
    justify-content: center;
}