
.tierCard {
    background-image: linear-gradient(135deg, rgb(198, 117, 255, 0.2), rgb(0, 80, 199, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 10px;

    
}

.tierCardHolder {
    background-image: linear-gradient(135deg, rgba(198, 117, 255, 0.45), rgba(0, 80, 199, 0.45));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0.8rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.tierCardContent {
    margin:1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a {
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color:white;
}

.sponsorTextHolder {
    /* background-color: blue; */
    background-image: linear-gradient(135deg, rgb(198, 117, 255, 0.2), rgb(0, 80, 199, 0.2));
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 3px;
    opacity: 0;
}

.sponsorText {
    padding: 1rem;
    margin: 0.4rem;
    border-radius: 3px;
    color: rgb(225, 223, 223);
    background-image: linear-gradient(135deg, rgb(198, 117, 255, 1), rgb(0, 80, 199, 1));
    font-family:'monserrat';
    font-weight: 600;
}

.vis{
    opacity: 1;
    scale: 1;
    /* background-color: black; */
    transition: all 1s ease-in-out;
}

.tierHolder {
    display: grid;
    width: 100%;
    justify-content: center;
    margin: none;
    padding: none;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 21rem));
    grid-gap: 6%;    
    /* padding-bottom: 5rem; */
    transform: translateX(-200%);
}

.vi {
    transform: translateX(00%);
    transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
.tierTitle {
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Diamond {
    color:#7fd6ff;
    /* color:#7fd6ff36; */
}

.Gold {
    color: #ffd700;
    /* color: #ffd90047; */
}

.Silver {
    color: #c7c7c7;
    /* color: #c7c7c722; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
.perkList {
    /* color: rgb(241, 241, 241); */
    /* color: white; */
    color: rgb(225, 223, 223);
    font: lighter;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.popupDividerSG {
    height: 0;
    width: 85%;
    border: 1px solid;
    border-color: rgb(150, 138, 70);
    border-image-slice: 1;
    margin-top: 20px;
}

.popupDividerSS {
    height: 0;
    width: 85%;
    border: 1px solid;
    border-color: #858585;
    border-image-slice: 1;
    margin-top: 20px;
}

.popupDividerSD {
    height: 0;
    width: 85%;
    border: 1px solid;
    border-color: #4685a2;
    border-image-slice: 1;
    margin-top: 20px;
}

.perkList li {
    margin-bottom: 1rem;
    font-weight: 500;
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    grid-gap: 1rem;
    color: white;
    justify-content: center;
    width: 100%;
}

.cgE {
    display: flex;
}

.cgE:hover {
    transition: all 0.2s ;
}

.cgPic {
    height: 3rem;    
}

.cgTitle {
    font-size: x-large;
    font-weight: 700;
}

.cgData {
    font-size: large;
    white-space: nowrap;
}

.cgText {
    padding-left: 1rem;
}

.sponsorBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit:cover;
}
.currentSponsorRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.currentSponsorCard{
    width: 25%; 
    aspect-ratio: 1;
    height: auto;
    object-fit: contain;
    border-radius: 1em;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 1em 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
}