.youtube-embed {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 30em;
    border-radius: 1rem;
    border-width: 0;

}

.youtube-iframe {
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-radius: 1rem;
    outline-color: transparent;
}